* {
  margin: 0;
  padding: 0;
}

main {
  background-image: url('../assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2a1e5486;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #e5b3f2 0%, #bdd5ef 100%);
  border-radius: 20px;
}

.list-none {
  list-style: none;
}

.color-gray {
  color: rgb(175, 172, 172);
}

.color-gray-dark {
  color: rgb(122, 122, 122);
}

.color-dark {
  color: #2a1e54;
}

.bg-gray-light {
  background-color: #f6f6f6;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.font-crete {
  font-family: 'Crete Round', sans-serif;
}

.font-alfa {
  font-family: 'Alfa Slab One', sans-serif;
}

.scores-panel-bottom {
  margin-top: 25px;
}

.primary-color {
  background-color: #2a1e5486;
}

.score-board {
  height: 300px;
  overflow-y: scroll;
  margin: 0 0 20px 0;
}

.score {
  background: linear-gradient(to right, #e5b3f2 0%, #bdd5ef 100%);
}

.score:nth-child(even) {
  background-color: rgb(223, 223, 223) !important;
}

.button {
  height: 30px;
  width: 70px;
  margin-left: 50px;
  background-color: #2a1e54;
  border: none;
  border-radius: 5px;
}

.message-box {
  margin: 3% 0 0 0;
  padding: 2%;
  border-radius: 5px;
  display: block;
}

.success-message {
  background-color: rgb(198, 248, 198);
  color: rgb(5, 107, 5);
  border: 1px solid rgb(6, 185, 6);
}

.error-message {
  background-color: rgb(255, 198, 198);
  color: rgb(156, 49, 30);
  border: 1px solid rgb(156, 49, 30);
}

.winner-name {
  left: 30%;
  top: 73%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  .title {
    margin-left: -34%;
  }

  .score-board {
    height: 400px;
  }

  .button {
    height: 40px;
    width: 100px;
  }

  .winner-name {
    left: 21%;
    top: 73%;
  }

  .form-panel {
    margin-top: -14%;
    height: 350px;
  }
}
