* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  /* overflow: hidden; */
}

main {
  height: 100vh;
  background-color: #3300;
}

.list-none {
  list-style: none;
}

.color-gray {
  color: rgb(175, 172, 172);
}

.color-gray-dark {
  color: rgb(122, 122, 122);
}

.color-white {
  color: #fff;
}

.bg-gray-light {
  background-color: #f6f6f6;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-bold {
  font-weight: bold;
}

.text-md {
  font-size: 18px;
}

.text-lg {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.justify-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.space-x-y {
  padding: 8px 15px;
}

.w-full {
  width: 100%;
}

.p-5 {
  padding: 5px;
}

.mt-15 {
  margin-top: 15px;
}

.w-500 {
  width: 500px;
}

.h-500 {
  height: 500px;
}

.title {
  /* margin-left: 11%; */
  font-size: 22px;
}

.container {
  /* margin: 8% 20%; */
  padding: 30px;
  /* height: 50%; */
  overflow-y: scroll;
}

.scores-panel {
  padding: 30px;
}

.scores-panel-top {
  margin-bottom: 3px;
}

.form-panel {
  padding: 40px 0;
}

form {
  /* padding: 0 16%; */
}

input {
  height: 25px;
  width: 100%;
  outline: none;
}

.score-board {
  border: 1px solid black;
  height: 300px;
  overflow-y: scroll;
}

.score:nth-child(even) {
  background-color: rgb(223, 223, 223) !important;
}

.button-container {
  height: 30%;
  margin-left: 13px;
}

.button {
  height: 25px;
  width: 70px;
  margin-left: 50px;
  background-color: #7f5cff;
  border: none;
  border-radius: 5px;
}

.message-box {
  margin: 3% 15% 0 15%;
  padding: 2%;
  border-radius: 5px;
  display: none;
}

.success-message {
  background-color: rgb(198, 248, 198);
  color: rgb(5, 107, 5);
  border: 1px solid rgb(6, 185, 6);
}

.error-message {
  background-color: rgb(255, 198, 198);
  color: rgb(156, 49, 30);
  border: 1px solid rgb(156, 49, 30);
}

/* shapes */
.shapes {
  /* position: relative; */
  background: red;
  height: 50%;
}

.title-bar-shape {
  position: absolute;
  height: 8.4%;
  top: 2.8%;
  left: 23%;
}
